.page {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.alertbox {
  max-width: 100%;
}

.leh {
  width: 100%;
}

.primary {
  /* #fdb44d
  #fa607e
  #4786ff */
  background: #fa607e;
  border: 0;
  border-radius: 4px;
  color: #fff;
}
